$green1: rgb(103, 255, 123);
$green2: rgb(46, 119, 54);

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: sandybrown;
  animation: pulse 10s infinite;
}
.page {
  height: 100%;
  width: 100%;
}
.container {
  max-width: 900px;
  margin: 150px auto 1em auto;
  display: flex;
  justify-content: flex-start;
}
.main-title {
  max-width: 600px;
  margin: 1em;
  font-size: 1.25em;
  font-family: 'Roboto Mono';
  // text-shadow: 5px 5px 10px rgba(5, 10, 256, 0.5);
  padding: 1em;
  border-radius: 3px;
  border: 5px double goldenrod;
  background-color: palevioletred;
  box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.5);

  h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(8, 0, 80, 0.6);

    animation: header-animation 10s infinite;
  }
  form {
    margin-top: 1.75em;
  }

  a {
    text-decoration: none;
    color: rgba(10, 5, 100, 0.5);
  }
}
.info-bar {
  margin: 1.2em;
  // border: 5px solid black;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.5);
  max-width: 300px;
  background-color: white;
  padding: 1em;
}
.start-form {
  display: relative;

  input {
    display: block;
    width: 100%;
    background: none;
    border: none;
    font-size: 1.25em;
    text-transform: uppercase;
    border-bottom: 5px solid;
    padding: 1em 0.75em 0.75em 0.25em;
    transition: 1s;

    &:focus + i {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  i {
    position: absolute;
    margin-top: -55px;
    margin-left: 2px;
    height: 30px;
    width: 10px;
    background-color: rgba(10, 5, 125, 0.8);
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }
  button {
    background-color: salmon;
    border: 0;
    font-size: 1.1em;
    margin: 30px 0 10px 0;
    padding: 0.5em;
    width: 100%;
    transition: 0.5s;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: white;
      color: blue;
    }
  }
}

@keyframes header-animation {
  0% {
    color: black;
  }
  50% {
    color: blue;
    text-shadow: 5px 5px 0 rgba(200, 10, 10, 0.9);
  }
  100% {
    color: black;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    background: sandybrown;
  }
  50% {
    background: springgreen;
  }
  100% {
    background: sandybrown;
  }
}
